/*
  File:     minty.css
  Author:   Insiya Bambot
  Website:  http://insiyabambot.wordpress.com/
  Project:  Colorful Specs
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Mono&display=swap');

::selection {
    background-color: #505050;
}

body {
    width: 80vw;
    margin: 1.5em auto;
    font-size: 18px;
    line-height: 1.5em;
    background: #302929;
    color: #fcf9f9;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: #7cdd92;
}

a:hover {
    color: #d6fdd4;
}

a:active {
  color: snow;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1em;
    margin-top: 1.25em;
    color: #c3eacc;
}

h1 {
    font-size: 3em;
}

li, dd {
    margin-bottom: 0.5em;
}

tt, code, kbd, samp {
    font-family: 'Roboto Mono', monospace;
    background-color: #565656;
    border-radius: 3px;
    padding: 0 .05em;
}
