/*
  File:     none.css
  Author:   Insiya Bambot
  Website:  http://insiyabambot.wordpress.com/
  Project:  Colorful Specs

  This file is used to clear all CSS styling from the page,
  including any styling that was originally part of the page.
*/
