/*
  File:     watermelon.css
  Author:   Insiya Bambot
  Website:  http://insiyabambot.wordpress.com/
  Project:  Colorful Specs
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Mono&display=swap');

::selection {
    background-color: #ffccd3;
}

body {
    width: 80vw;
    margin: 1.5em auto;
    font-size: 18px;
    line-height: 1.5em;
    background: #fdfdfd;
    color: #323232;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: #a52637;
}

a:hover {
    color: #f04f65;
}

a:active {
  color: #00ad3a;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1em;
    margin-top: 1.25em;
    color: #880011;
}

h1 {
    font-size: 3em;
}

li, dd {
    margin-bottom: 0.5em;
}

tt, code, kbd, samp {
    font-family: 'Roboto Mono', monospace;
    background-color: #ceffc2;
    border-radius: 3px;
    padding: 0 .05em;
}
